{%extends 'layout.njk'%}
{%block content%}
    <div class="wrapper">
        <section class="cards">
            {%for item in items%}
            <div class="card" id="{{item.id}}">
                <div class="cardImageContainer">
                    <img src={{item.image}} alt="">
                </div>
                <div class="cardDishTitle">
                    <h4>{{item.title}}</h4>
                </div>
                <div class="cardDishCook">
                    <p>{{item.author}}</p>
                </div>
                <button>Acessar</button>
            </div>
            {%endfor%}

        </section>
    </div>

{%endblock%}


