    @import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
    * {
        margin: 0;
        border: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }
    
    header {
        padding-bottom: 36px;
        padding-top: 10px;
    }
    
    body {
        margin-left: 25vh;
        font-family: 'Roboto', sans-serif;
    }
    
    footer {
        background-color: #EEEEEE;
        width: 100%;
        position: absolute;
        left: 0;
        height: 62px;
        text-align: center;
    }
    
    footer p {
        margin-top: 23px;
        color: #999999;
    }
    
    .foodfyMenu a+a {
        margin-left: 122px;
        text-decoration: none;
        color: black;
    }
    
    .foodfyMenu a+a+a {
        margin-left: 30px;
    }
    
    .foodfyBanner {
        width: 940px;
        height: 366px;
        background-color: #FBDFDB;
        position: relative;
        border-radius: 30px;
    }
    
    .bannerTexts {
        position: absolute;
        top: 117px;
        left: 60px;
    }
    
    .bannerTexts p {
        opacity: 0.7;
        color: #000000;
    }
    
    .bannerChef img {
        position: absolute;
        top: 66px;
        right: 100px;
    }
    /* CARDS das receitas */
    
    .cardsTitle {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 940px;
        gap: 20px;
    }
    
    .card {
        max-width: 300px;
        margin-bottom: 30px;
    }
    
    .cardImageContainer img {
        width: 100%;
        border-radius: 15px;
        object-fit: contain;
    }
    
    .cardDishTitle {
        margin-top: 20px;
        font-size: 18px;
    }
    
    .cardDishCook {
        margin-top: 5px;
        font-size: 14px;
        color: #777777;
    }
    /* Modal Overlay */
    
    .modalOverlay {
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        visibility: hidden;
    }
    
    .modal {
        max-width: 660px;
        height: 413px;
        background: white;
        margin: 20vh auto;
        position: relative;
        border-radius: 16px;
    }
    
    .closeModal {
        position: absolute;
        bottom: 30px;
        left: 43%;
        color: #999999;
        font-size: 16px;
        cursor: pointer;
    }
    /* Modal Overlay Active */
    
    .modalOverlay.active {
        opacity: 1;
        visibility: visible;
    }
    
    .modalContent {
        text-align: center;
        line-height: 28px;
    }
    
    .modalImage {
        padding: 30px 30px 20px 30px;
    }
    
    .modalContent img {
        border-radius: 15px;
        width: 600px;
        height: 200px;
        object-fit: cover;
    }
    
    .modalContent h4 {
        font-size: 24px;
        color: #111111;
    }
    
    .modalContent p {
        font-size: 18px;
        color: #777777;
    }
    
    .titles {
        font-family: Roboto-Bold, sans-serif;
        font-size: 10px;
        color: #111111;
        margin-bottom: 20px;
    }
    
    .paragraphs {
        font-family: Roboto-Regular, sans-serif;
        font-size: 18px;
        color: #444444;
        line-height: 28px;
        padding-bottom: 30px;
        width: 940px;
    }